<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>TKVideoCleaner</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourmatrix.tkvideocleaner</string>
	<key>CFBundleName</key>
	<string>视频纯净器</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要访问相册来提取无损的物理视频流进行底层的纯净洗白。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我们需要权限将重制后的原生纯净视频保存回您的相册。</string>
</dict>
</plist>
